.left {
  display: flex;
  gap: 32px;
  align-items: center;
}

.info {
  background: var(--white);
  height: auto;
  display: flex;
  align-items: center;
  margin: 24px 0;
  padding: 8px;
  justify-content: space-between;
}

.cart-image {
  min-height: 56px;
  min-width: 50px;
  background-position: center;
  background-size: cover;
}

.remove-button {
  padding: 4px 8px;
  font-size: 10px;
  color: var(--white);
  background: var(--red);
  font-weight: bold;
  letter-spacing: 1px;
}

.empty-cart {
  text-align: center;
  padding: 32px 0;
}

.empty-cart > a {
  color: green;
  text-decoration: underline;
}

.total {
  background: var(--white);
  padding: 8px;
  width: max-content;
  margin-left: auto;
}
