@import "../../root.css";

.card {
  height: auto;
  width: clamp(200px, 22%, 300px);
  background: var(--white);
  padding: 16px;
}

.image {
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cart-button {
  padding: 4px 8px;
  font-size: 10px;
  color: var(--white);
  background: var(--red);
  font-weight: bold;
  letter-spacing: 1px;
  width: 100%;
}
