@import "../../root.css";

header {
  background: var(--dark-blue);
}

.container {
  max-width: 1004px;
  margin: 0 auto;
  padding: 24px;
}

nav,
figure {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
}

.menu-links {
  display: flex;
  gap: 40px;
}

.cart-icon {
  background: var(--white);
  color: var(--dark-blue);
  padding: 0 8px;
  border-radius: 5px;
  margin-left: 8px;
}

.cart-filled {
  background: var(--red);
  color: var(--white);
  padding: 0 8px;
  border-radius: 5px;
  margin-left: 8px;
}

.menu-item > a {
  padding: 16px;
  gap: 8px;
}
