@import "./root.css";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  color: var(--dark-gray);
  background: var(--light-gray);
  font-size: 20px;
}

body,
select,
button {
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

a {
  color: var(--white);
}
